.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.navbar {
    /* background-color: lightblue; */
    padding-bottom: 0 !important;
}

.navbar-brand img {
    height: 150px;
    widows: 150px;
    padding-left: 20px;
}

.navbar-nav li a {
    color: #feeeee !important;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

/* .navbar-toggler-icon{
    color: #feeeee !important;
    font-size: 20px;
} */

.navbar-light .navbar-toggler {
    color: #feeeee !important;
    font-size: 20px;
}

#index-header-section {
    background-image: url(../Images/index-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0px;
    bottom: 0px;

    height: 100vh;
}

.hero-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}

.index-title {
    margin-top: 114px;
}

.index-title h1 {
    color: #e7f0f9;
    text-align: center;
    font-family: 'Lora', serif;
}

.index-title h3 {
    color: #e7f0f9;
    text-align: center;
    padding: 30px;
    line-height: 1.5;
    font-family: 'Lora', serif;
}

#t-blocks .img-responsive {
    width: 100%;
}

#t-blocks img:hover {
    cursor: pointer;
}

#t-blocks .col-md-4 col-sm-6:hover .overlay {
    opacity: 0.3;
    transition: .5s ease-in;
}

#t-blocks .col-md-4 col-sm-6:hover {
    opacity: 0.3;
    transition: .5s ease-in;
}

.title {
    position: absolute;
    top: 31%;
    text-align: center;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

#second-background-img {
    background-image: url(../Images/second-back-img.jpg);
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
    background-size: cover;
    height: 100vh;
}



/*
.card-image:hover .overlay {
    opacity: 0.3;
    transition: .5s ease-in;

}

.card-image:hover {
    opacity: 0.3;
    transition: .5s ease-in;

}
*/



/* .navbar-toggler .navbar-toggler-icon{
    color: #feeeee !important;
    font-size: 20px;
} */

/* outline: none !important;
    border-radius: 50px 0 50px 0; */
